@keyframes header-in {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes section-in {
  from {
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}